<section class="top-main-page">

	<div class="title-container">
		<h1 class="site-title">Cooking Craze
		</h1>
		<img class="r" src="/images/logo.svg" alt="logo">
	</div>

	<div class="search-recipe-container">
		<form class"search-bar" action="/search" method="get">
			<input type="search" id="searchRecipe" class="search-recipe" name="findRecipe" placeholder="Rechercher une recettes...">
			<button class="find" type="submit">Rechercher</button>
		</form>
	</div>

	<div class="login-signup">
		{% if user %}
			<a class="addRecipe" href="/myRecipe">Mes recettes</a>
			<a class="logout" href="/logout">Déconnexion</a>

		{% else %}

			<a class="login" href="/login">Connexion</a>
			<a class="signup" href="/subscribe">S'inscrire</a>

		{% endif %}
	</div>

</section>

<section class="recipes-container">

	<div class="h2-container">
		<h2 class="recipes">Nos recettes</h2>
		<a class="show-more-button" href="/allRecipes">
			<button class="learn-more">
				<span class="circle" aria-hidden="true">
					<span class="icon arrow"></span>
				</span>
				<span class="button-text">Voir plus</span>
			</button>
		</a>
	</div>

	<ul class="images-container-recipes">
		{% for recipe in recipes %}
			<div class="vignet">
				<li>


					<a href="/recipeDetail/{{recipe.id }}"><img class="img-carrousel" src="/images/uploads/{{recipe.image}}" alt="recipes"></a>
					<div class="fav">
						<h3>{{recipe.recipeTitle }}</h3>

						{% if user %}

							<label class="ui-like">
								{% if  recipe.id in user.favorites  %}

									<input id="{{recipe.id}}" type="checkbox" checked>

								{% else %}

									<input id="{{recipe.id}}" type="checkbox">
								{% endif %}

								<div class="like">
									<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="">
										<g stroke-width="0" id="SVGRepo_bgCarrier"></g>
										<g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
										<g id="SVGRepo_iconCarrier">
											<path d="M20.808,11.079C19.829,16.132,12,20.5,12,20.5s-7.829-4.368-8.808-9.421C2.227,6.1,5.066,3.5,8,3.5a4.444,4.444,0,0,1,4,2,4.444,4.444,0,0,1,4-2C18.934,3.5,21.773,6.1,20.808,11.079Z"></path>
										</g>
									</svg>
								</div>
							</label>
						</div>
					{% endif %}


				</li>
			</div>
		{% endfor %}
	</ul>

</section>

<section class="foot-page">

	<div class="container-day">
		<div class="day-recipe">
			<h2 class="day-recipe-title">Nos recettes du moment</h2>
		</div>
		<ul class="images-container-day">

			{% for recipes in todayRecipes %}

				<li>
					<a href="/recipeDetail/{{recipes.id }}"><img class="day-img" src="/images/uploads/{{recipes.image}}" alt="recipes"></a>

					<h3>{{recipes.recipeTitle }}</h3>

				</li>
			{% endfor %}
		</ul>
	</div>
	<div class="favoris">
		<h2 class="fav-recipe-title">Vos favoris</h2>
		{% if user %}

			<a href="/favorites">
				<h3 class="favorisText">Retrouver ici vos favoris :)
					<br>
					<br>
				</h3>
				<a class="favBtn" href="/favorites">
					<button class="cssbuttons-io-button">
						Vos Favoris 
						<div class="icon">
							<svg height="24" width="24" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
								<path d="M0 0h24v24H0z" fill="none"></path>
								<path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path>
							</svg>
						</div>
					</button>
				</a>
			</a>
            


		{% else %}


			<h3 class="favorisText">C'est vide ici :(
				<br>
				<br>
				Connectez vous pour pouvoir ajouter des
				<span class="favColor">favoris.</span>
			</h3>
			<a class="favBtn" href="/login">
				<button class="cssbuttons-io-button">
					Connexion !
					<div class="icon">
						<svg height="24" width="24" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
							<path d="M0 0h24v24H0z" fill="none"></path>
							<path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path>
						</svg>
					</div>
				</button>
			</a>

		{% endif %}

	</div>


</section>
