<section class="top-main-page">

	<div class="title-container">
		<h1 class="site-title">Cooking Craze
		</h1>
		<img class="r" src="/images/logo.svg" alt="logo">
	</div>

	<div class="search-recipe-container">
		<form class"search-bar" action="/MainPage" method="get">
			<input type="text" action="/get" id="searchRecipe" class="search-recipe" name="find-recipe" placeholder="Rechercher une recettes...">
			<button class="find" type="submit">Rechercher</button>
		</form>
	</div>

	<div class="login-signup">
		{% if user %}
			<a class="addRecipe" href="/addRecipe">Mes recettes</a>
			<a class="logout" href="/logout">Déconnexion</a>

		{% else %}

			<a class="login" href="/login">Connexion</a>
			<a class="signup" href="/subscribe">S'inscrire</a>

		{% endif %}
	</div>

</section>

<section class="recipes-container">

	<div class="h2-container">
		<h2 class="recipes">Nos recettes</h2>
		<a class="show-more-button" href="/allRecipes">
			<button class="learn-more">
				<span class="circle" aria-hidden="true">
					<span class="icon arrow"></span>
				</span>
				<span class="button-text">Voir plus</span>
			</button>
		</a>

	</div>
	<ul class="images-container-recipes">
		{% for i in 0..3 %}
			<li>

				<a href="/recipeDetail/{{recipes[i].id }}"><img class="img-carrousel" src="/images/uploads/{{recipes[i].image}}" alt="recipes"></a>
				<div class="like"></div>

				<h3>{{recipes[i].recipeTitle }}</h3>


			</li>
		{% endfor %}
	</ul>

</section>

<section class="foot-page">

	<div class="container-day">
		<div class="day-recipe">
			<h2 class="day-recipe-title">Nos recettes du jour</h2>
		</div>
		<ul class="images-container-day">
			{% for i in 0..1 %}

				<li>
					<a href="/recipeDetail/{{recipes[i].id }}"><img class="day-img" src="/images/uploads/{{recipes[i].image}}" alt="recipes"></a>

					<h3>{{recipes[i].recipeTitle }}</h3>

				</li>
			{% endfor %}
		</ul>
	</div>

	<div class="favoris">
		<h2 class="fav-recipe-title">Vos favoris</h2>
		{% if user %}

			<a href="/allFavoris">
				<h3>Voir tout vos favoris.</h3>
			</a>


		{% else %}


			<h3 class="favorisText">C'est vide ici :(
				<br>
				<br>
				Connectez vous pour pouvoir ajouter des
				<span class="favColor">favoris.</span>
			</h3>
		{% endif %}

	</div>


</section>
