<section class="recipe-detail-container">
	<div class="top-container">
		<ul class="">
			{% for recipe in recipes %}
				{# <li><a href="/recipeDetail/{{recipe.id }}"><img src="{{recipe.image }}" alt="recipes"></a>
					<h3>{{recipe.recipeTitle }}</h3> #}
				{# </li> #}
          <h1>{{recipe.recipeTitle }}</h1>
        	{% endfor %}
		</ul>
	</div>

    <div class="ingredient-details">
    {% for recipe in recipes %}
<img src="{{recipe.image }}" alt="">
    {% endfor %}
    </div>



</section>