<section class="recipe-detail-container">
	<div class="top-container">

		<h1>
			{{recipes.recipeTitle}}
		</h1>

	</div>

	<div class="container">
		<div class="ingredient-details">
			<img src="{{recipes.image}}" alt="">


			<div class="duration-people">
				<p>
					Temps :
					{{recipes.duration }}
					mins</p>
				<p>Difficulté :
					{{recipes.difficulty }}</p>
				<p>{{recipes.numberOfPeoples}}
					Personnes</p>


			</div>

			<div class="ingredients">
				<h2>Ingrédients</h2>
			</div>
		</div>


		<div class="steps">
			<h3>Etapes 1<p>Bonjour ceci et la premiere etape blablavalablabblabla ahgahahhahaahhaha djdjdjdjjdjdjdjd</p>
			</h3>
			<h3>Etapes 2<p>Bonjour ceci et la premiere etape blablavalablabblabla</p>
			</h3>
			<h3>Etapes 3<p>Bonjour ceci et la premiere etape blablavalablabblabla</p>
			</h3>
			<h3>Etapes 4<p>Bonjour ceci et la premiere etape blablavalablabblabla</p>
			</h3>


		</div>

	</div>

</section>
