<section class="recipe-detail-container">
	<div class="top-container">

		<h1>
			{{recipes.recipeTitle}}
		</h1>
			<a class="return" href="/MainPage"><img class="returnImg" src="/images/return.png" alt=""></a>


	</div>

	<div class="container">
		<div class="ingredient-details">
			<div class="cardImg">
				<div class="card">

					<img src="/images/uploads/{{recipes.image}}" alt="">
					<div class="card__content">
						<p class="card__title">
							{{recipes.recipeTitle}}</p>
						{% for ingredient in recipes.ingredients %}
							<p class="card__description">{{ingredient.name}}
								{{ingredient.quantity}}</p>


						{% endfor %}
					</div>
				</div>


				<div class="duration-people">
					<p>
						Temps :
						{{recipes.duration}}
						H</p>

					<p>
						Prix :
						{{recipes.price }}

					</p>
					<p>Difficulté :
						{{recipes.difficulty }}</p>

				</div>
			</div>
		</div>


		<div class="steps">
			{% for step in recipes.steps %}
				<h3>
					<p>{{step }}</p>
				</h3>
			{% endfor %}
		</div>

	</div>

</section>
