<section class="recipe-detail-container">
	<div class="top-container">

		<h1>
			{{recipes.recipeTitle}}
		</h1>

</div>


<div class="ingredient-details">
	<img src="{{recipes.image}}" alt="">
	
</div>
<div class="duration-people">
    <p>{{recipes.duration }}</p>
    <p>{{recipes.difficulty }}</p>
    <p>{{recipes.numberOfPeoples}}</p>
    </div>

</section>
