<section class="recipe-detail-container">
	<div class="top-container">

		<h1>
			{{recipes.recipeTitle}}
		</h1>
             <a class="return"  href="/MainPage"><img  class="returnImg" src="/images/back.png" alt=""></a>

	</div>

	<div class="container">
		<div class="ingredient-details">
			<img src="/images/uploads/{{recipes.image}}" alt="">


			<div class="duration-people">
				<p>
					Temps :
					{{recipes.duration}}
					H</p>

                    <p>
                    Prix :
                    {{recipes.price }}
                    
                    </p>
				<p>Difficulté :
					{{recipes.difficulty }}</p>


			</div>

			<div class="ingredients">
				<h2>Ingrédients</h2>
                <div class="ingredient-list">
                {% for ingredient in recipes.ingredients %}
                     <p>{{ingredient.name}}  {{ingredient.quantity}}</p>
                {% endfor %}
                </div>
			</div>
		</div>


		<div class="steps">
        {% for step in recipes.steps %}
            <h3><p>{{step }}</p>
			</h3>
        {% endfor %}
		</div>

	</div>

</section>
